body {
    color: #ccc;
}

.aboutMeText {
    border-left: 4px solid rgba(204, 204, 204, .9);
    color: rgba(59, 59, 59, 0.8);
    padding: 5px;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.myExapleCode {
    background: rgba(204, 204, 204, .9);
    border-radius: 5px;
}
